.lead__caption {
  margin: 8px 0 0 0;
  width: 984px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1260px) {
  .lead__caption {
    width: 928px;
  }

  @media screen and (max-width: 1020px) {
    .lead__caption {
      width: 744px;
    }
  }

  @media screen and (max-width: 767px) {
    .lead__caption {
      padding-left: 16px;
      width: 282px;
    }
  }
}