.body {
    background: #2A2C2F;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    background: #2A2C2F;
    box-sizing: border-box;
}