.place__website {
  margin-left: 40px;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1260px) {
  .place__website {
    margin-left: 32px;

  }
}


@media screen and (max-width: 1020px) {
  .place__website {
    margin-left: 28px;
  }
}


@media screen and (max-width: 767px) {
  .place__website {
    margin: 0
  }
}