.footer__copyright {
    margin: 92px 0 24px 0;
    min-width: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 114%;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .footer__copyright {
        margin: 88px 0 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 1.1;
        margin: 48px 0 0 16px;
        text-align: left;
    }
}